.middle_top_left h3{
	width:100px; height:100px;
	font:"ו" bold;
	font:25px;
	float:left;
	background:rgba(255,255,255,0.8);
	color:rgba(0,0,0,0.8);
	text-align:center; line-height:100px;
	-moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;
}
.middle_top_right{
	width:900px;
	float:left;
	height:100px;
	}
.middle_top_right img{opacity:0.5;}

.middle_zhong_left h4{
	width:100%;
	height:20px;
	margin:0 0 5px 0;
	line-height:20px;
	color:rgba(255,255,255,0.9);}
.middle_zhong_right h4{
	width:100%;
	height:20px;
	margin:0 0 5px 0;
	line-height:20px;
	text-align:center;
	color:rgba(255,255,255,0.9);}
	

.middle_zhong_right p,.middle_zhong_left p{
	text-indent:20px;
	color:rgba(180,225,200,1);
	font-size:12px;
	line-height:24px;
	text-shadow:rgba(255,255,255,0.4) 1px 1px;
	}
.middle_bottom{
	width:1000px;
	height:150px;
	border:#FC0 0px solid;}
.box{
	width:310px;
	padding:0px;
	height:150px;
	float:left;
	border:#FFF 0px solid;
	margin-left:20px;}
.middle_bottom1,.middle_bottom2,.middle_bottom3{
	width:300px;
	height:150px;
	margin-left:0px;
	border:#F00 0px solid;
	float:left;
	border-radius: 10px 10px 10px 10px;
	}
.middle_bottom1 img,.middle_bottom2 img,.middle_bottom3 img{
	border-radius: 10px 10px 10px 10px;
	width:100%;
	height:100%;
	opacity:0.5;}
.middle_bottom1:hover img,.middle_bottom2:hover img,.middle_bottom3:hover img{
	border-radius: 30px 30px 30px 30px;
	opacity:1;}
#footer{ width:1000px; height:20px; text-align:center; margin:0 auto; color:#999;}